<div class="site-footer mt-5">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-6">
                <h6> ABOUT </h6>
                <p> Power of Dreams is something more than  your personal journal
                    where you can keep track of your dreams in daily basis and save
                    them in the cloud so it will always exists, share with other and 
                    analyze the meaning.
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6> Quick Links </h6>
                <ul class="footer-links">
                    <li><a href="/">Home. </a> </li>
                    <li><a href="#site-footer">About Us.</a></li>
                    <li><a href="/register">Register.</a> </li>
                    <li><a href="/login"> Login.</a></li>
                    <li><a href="/dreams"> Dreams. </a></li>

                </ul>
            </div>

            

        </div>
        <hr>

        <div class="container">
            <div class="row">
                <div class="col-md-8  col-sm-6 col-xs-12">
                    <p class="copyright-text"> Copyright &copy; 2022 All Rights Reserved by <a href="/">Power Of Dreams</a></p>
                </div>
            </div>
        </div>
    </div>
</div>