<% layout('/layout/boilerplate') %> 

      <%= success %>

      
    
        <div class="row">
          <div class="left-logo-container col-lg-12 col-md-12 col-s-12  col-xs-12 text-center justify-content-center align-items-center">
            <p><h1> Keep your Dream Journal</h1></p>
            
            <p><h3>Why...?</h3></p>
          </div>
         
        </div> 
        <hr>
        <div class="row mt-5 d-flex justify-content-between">
          <div class="left-text col-lg-3 col-md-12 col-s-12 col-xs-12 text-center mb-4  align-items-center">
            <p><h2>You get to remember your dreams</h1></p>
              <p> You forget all about your dreams within minutes of waking up. In fact, in less than a minute, you typically
                  forget over 80% of the dream you had.
                  That is why it is important to begin writing it down immediately while it is still fresh in your mind.
                  It allows you to get all the details right so that you can study them later to figure out what your unconscious 
                  is trying to tell you.
                  Remember that your unconscious is like a muscle, which means that the more you work it out, the easier 
                  it will be for you to remember your dreams.
              </p>
          </div>
          <div class="center-text col-lg-3 col-md-12 col-s-12 col-xs-12 text-center mb-4 align-items-center">
            <p><h2>You are communicating to your unconscious</h2></p>
              <p>
                  Your unconscious is sometimes called your higher self and for a good reason.
                  It represents the parts of you that are hidden from your conscious state. In its own way, your unconscious
                  represents a whole other you. That part of you likes to send you subtle messages with all types of information in them.
                  When you write your dreams immediately after waking up you are sending a message to your unconscious that you are listening to
                  what it has to say. With time, you will have more clarity over the messages that it is trying to send you and it will also send
                  you more messages for you to decipher.
                  Ultimately, the unconscious is like a muscle, which means constantly putting it to work only makes it stronger over time.
                 
              </p>
          </div>
          <div class="right-text col-lg-3 col-md-12 col-s-12 col-xs-12 text-center mb-4 align-items-center">
           <p><h2> You become better at lucid dreaming </h2></p>
            <p>
                To put it simply, lucid dreaming is dreaming with the knowledge that you are dreaming and thereby being able to take control
                of your dreams. Lucid dreaming as a phenomenon has been known about for a while now, and even Buddhist monks are aware of the 
                technique.
                In fact, the very best practitioners of deep meditation are able to dream while awake and have full control over their dreams.  
                When you get really good at lucid dreaming, you have full control, not only over the objects in your dreams but also over the 
                dream scenarios themselves.
            </p>
          </div>
        </div> 
      
      
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    
